@charset "utf-8";
/* ESTILOS GENERALES - INICIO */

header, nav, aside, section, footer{
display: block;
}

body{
	
	background-color: #474B4E;
	font-family: times new roman;
	overflow-x:hidden;
}

p {
	text-align: justify;
	color: #9BAEBC;
}

h1, h2, h3, h4, h5, h6 {
	color: #9BAEBC;
	
}

hr {
	/*color: #474B4E; No creo que haga falta*/
	width: 70%;
	margin: 30px;
}

fieldset {
	width: 700px;
	margin-bottom: 50px;
        
}

#principal {	
	width: 90%;
	margin: 10px auto;
	text-align: left;
	border-radius: 20px;
	/*box-shadow: 25px 05px 18px #A4A4A4; Ya veremos si lo pongo*/
}

/* ESTILOS GENERALES - FIN */


/*ESTILOS CABECERA - INICIO*/
#cabecera_principal {
	background:#374955;
	padding: 5px 5px;
	border-radius: 20px 20px 0px 0px;
}

#cabecera_principal a {
	text-decoration: none;
}

#cabecera_principal h1 {
	padding-left: 10%;
	width: 35%;

}

#imagen_logo img{
	float: left;
	margin-top: -80px;
	margin-left: -35px;
	border-radius: 20px

}

.formulario_cabecera {
	float: right;
	margin-top: -60px;
}

.formulario_cabecera .personalizacion_text {
	border-radius: 5px;
	background-color: #374955;
	border: 5px solid #474B4E;
	padding: 10px;
}

.formulario_cabecera .personalizacion_submit {
	padding: 5px;
	border-radius: 5px;
	cursor:pointer;
}
/*ESTILOS CABECERA - FIN*/


/*ESTILOS NAV - INICIO*/
#menu_nav{
	background: #374955;
	margin-top: 5px;
	padding: 1px 0;
	text-align: left;
}

#principal #menu_nav ul a:hover {
	color: #474b4e;
	background: #FFF;
}


/*ESTILOS NAV - FIN*/

/*ESTILOS ARTICLE - INICIO*/

#cuerpo_web {
	float: left;
	width: 70%;
	background:#474B4E;  /*#474B4E*/
	margin-top: 5px;
}

#cuerpo_web a {
	text-decoration: none;
}


/*ESTILOS ARTICLE - FIN*/

/*ESTILOS SECTION - INICIO*/

#seccion_web {
	width: 70%;
	margin-left: 65px;
	margin-top: 50px;
	margin-right: 30px;
	
}

#seccion_web .imagen {
	float: left;
}

#seccion_web h3 {
	margin-left: 140px;
	
}

#seccion_web h5 {
	margin-left: 140px;
	margin-top: -10px;
	
}


/*ESTILOS SECTION - FIN*/


/*ESTILOS ASIDE - INICIO*/

#aside {
	float: right;
	/*background-color: #374955;*/
	margin-top: 15px;
	width: 30%;
	
}

#aside ul a {
	text-decoration: none;
	color: #9BAEBC;
	
}

#aside .icono li {
	text-align: justify;
	padding-bottom: 20px;
	padding-left: 25px;
	list-style: none;
	background-image:url(../imagenes/mando.ico);
	background-repeat: no-repeat;
	
}

#aside hr {
	width: 80%;
}

/*ESTILOS ASIDE - FIN*/


/* ESTILOS FOOTER - INICIO*/

#pie_pagina {
	clear: both;
	text-align: center;
	background-color: #374955;
	border-top: 2px solid #CCCCCC;
	padding: 5px;
	width: 100%;
	border-radius: 0px 0px 20px 20px;
}

#pie_pagina .contacto p{
	margin-top: 10px;
	text-align: center;
}

#pie_pagina .contacto a {
	text-decoration: none;
	color:#000000;
}
/* ESTILOS FOOTER - FIN*/


/*-------------------------------------------------------------------*/



/* ESTILOS PÁGINA NOTICIA - NOTICIA*/

#cuerpo_noticia {
	float: left;
	width: 100%;
	background:#474B4E;  /*#474B4E*/
	margin-top: 5px;
	
}

#cuerpo_noticia a {
	text-decoration: none;
	color: #FFFFFF;
}

#seccion_noticia {

	display: none;

}	


/* ESTILOS FOOTER - NOTICIA*/

#pie_pagina_noticia {
	clear: left;
	text-align: center;
	background-color: #374955;
	border-top: 2px solid #CCCCCC;
	padding: 5px;
	width: 100%;
	border-radius: 0px 0px 20px 20px;
}

#pie_pagina_noticia .contacto p{
	margin-top: 10px;
	text-align: center;
}

#pie_pagina_noticia .contacto a {
	text-decoration: none;
	color:#000000;
}
/* ESTILOS FOOTER - FIN*/


/*ESTILOS GALERIA - INICIO*/

#galeria {
            
	margin: 1rem auto;            
	width:100%;           
	max-width:960px;           
	padding:0 20px 20px;           
	box-sizing: border-box;          
	column-count: 3;
            /* Espacio entre columnas */           
	-moz-column-gap: 20px;           
	-webkit-column-gap: 20px;           
	column-gap: 20px;
        
}
        
        
#galeria header {
            
	-webkit-column-span:all;            
	column-span:all;        
}

		
#galeria footer {
			
	-webkit-column-span:all;           
	column-span:all;
		
}

        
.galeria {
            
	background:#fff;           
	border-radius:5px;          
	border:1px solid #ccc;          
	margin:0 0 20px 0;           
	text-align: center;           
	max-width: 100%;           
	filter: opacity(70%);
            /*Evitamos que se corte al cambiar de columna*/         
	break-inside: avoid;          
	page-break-inside: avoid;         
            
}
        
       
.galeria img {
	
	width:100%;
        
}

        
.galeria:hover {
	
	transition: .5s ease;          
	filter: opacity(100%);
        
}

        
figure {
            
	padding:1rem;            
	box-sizing: border-box;
        
}


/*ESTILOS GALERIA - FIN*/



/*@MEDIA RESTO PÁGINA - INICIO*/

@media (max-width: 1576px) {

	#principal #menu_nav ul a {
		text-decoration: none;
		color: #9BAEBC;
		padding: 16px 55px 17px 55px;
		/* padding: 20px;
		margin-left: -40px; */
		font-size: 16px;
	}
}

@media (max-width: 1176px) {
	
	#principal #menu_nav ul a{
		
		display: flex;
		align-items: center;
  		justify-content: center;
		
	}

	#principal #menu_nav ul a {
		text-decoration: none;
		color: #9BAEBC;
		padding: 20px;
		margin-left: -40px;
		font-size: 16px;
	}

	#principal #menu_nav ul a:hover {
		/* width: 800px; */
		width: 100%;	
	}
	
} 



@media (max-width: 930px) { 
           
	#cuerpo_noticia #galeria {
             
		column-count: 2;			                
	}
			
	#cuerpo_noticia #galeria .galeria figure img {
			
		width: 220px;			
	}
			
			
	.galeria img {
            
		width:400px;				
		height: 200px;				        	
	}
			
			
			
	#cuerpo_noticia figure img{
				
		width: 500px;			
		height: 300px;		
	}
	
	#cuerpo_web figure img{
		
		width: 700px;			
		height: 300px;
	}
	
	
	#principal #cabecera_principal a h1{
		padding-left: 150px;
	}
	
	#principal #aside {
		width: 70%;
	}

	#principal #menu_nav ul a:hover {

		width: 100%;	
	}
        
}
@media (max-width: 833px) {
	
	#cuerpo_web figure img{
		
		width: 500px;			
		height: 300px;
	}
	
	#principal #cuerpo_web #seccion_web h5{
		width: 80%;
		
	}
	

} 
		
@media (max-width: 620px) { 
			
			
	#cuerpo_noticia figure img{
				
		width: 400px;				
		height: 200px;				
		align-content: center;			
	}      
	
	#cuerpo_web figure img{
		
		width: 400px;			
		height: 300px;
		align-content: center;
	}

	#principal #menu_nav ul a:hover {

		width: 100%;	
	}
}
        
      
@media (max-width: 750px) {
           
	#cuerpo_noticia #galeria{
                
		column-count: 1;
            
	}
					
	#cuerpo_noticia #galeria .galeria figure img {
			
		width: 400px;
			
	}
		
	#principal #menu_nav ul a:hover {

		width: 100%;	
	}
       
}

@media (max-width: 570px) {
	
	#cuerpo_noticia #galeria .galeria figure img {
			
		width: 300px;
			
	}
	
	#cuerpo_noticia figure img{
				
		width: 350px;				
		align-content: center;			
	}      

	
}




/*@MEDIA RESTO PÁGINA - FIN*/

/*@MEDIA PAGINA PRINCIPAL - INICIO*/


@media (max-width: 1100px){
	
	#principal #aside {
		width: 100%;
		text-align: center;
		margin:auto;
		display:block;
	}

	#principal #cuerpo_web{
		width: 100%;
	}
	
	#principal #aside ul{
		text-align: left;
		display: inline-block;
	}

}



/*@MEDIA PAGINA PRINCIPAL - FIN*/

/* Estilos páginas novedad - INICIO*/

#section_pagina ul a {
	text-decoration: none;
	color: #9BAEBC;
	
}

.icono li {
	text-align: justify;
	padding-bottom: 20px;
	padding-left: 25px;
	list-style: none;
	background-image:url(../imagenes/mando.ico);
	background-repeat: no-repeat;
	
}


/* Estilos páginas novedad - FIN*/



/*@MEDIA PAGINA PRINCIPAL - FIN*/

/*ANIMACION BANNER PUBLICITARIO - INICIO*/

	#banner_publicitario{
		
		width: 90%;
		height: 150px;
		border-width:3px;
		border-color:black;
		
	
	}	

	.line-1{
		position: relative;
		top: 30%;  
		width: 24em;
		margin: 0 auto;
		font-size: 180%;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		transform: translateY(-50%);    
	}



	/* Animation */
	#banner_publicitario .anim-typewriter{
	  animation: typewriter 4s steps(44) 1s 1 normal both,
				 blinkTextCursor 500ms steps(44) infinite normal;
	}
	
	#banner_publicitario .anim-typewriter2{
	  animation: typewriter 4s steps(44) 4s 1 normal both,
				 blinkTextCursor 500ms steps(44) infinite normal;
	}
	#banner_publicitario .anim-typewriter3{
	  animation: typewriter 4s steps(44) 8s 1 normal both,
				 blinkTextCursor 500ms steps(44) infinite normal;
	  animation-iteration-count: 4;
	}
	
	@keyframes typewriter{
	  from{width: 0;}
	  to{width: 24em;}
	}
	@keyframes blinkTextCursor{
	  from{border-right-color: rgba(255,255,255,.75);}
	  to{border-right-color: transparent;}
	}


/* ESTILOS BANDERA - INICIO - LUEGO SE BORRARÁ (NO LE DARÉ USO)*/

#bandera {
	float: right;
	margin-top: -60px;
	/*position: sticky;*/
	position: static;
	
	
}
/*ESTILOS BANDERA - FIN*/


/* ESTILOS JQUERY - INICIO*/
#flip, #flip2, #flip3{
	background-color: #343638;
	border: 1px solid;
	border-color: #CCC;
	border-radius: 4px;
	text-align: center;
	padding: 5px;
	cursor: pointer;

  }
  
#panelAux, #panelAux2, #panelAux3{
	background-color: #343638;
	border: 1px solid;
	border-color: #CCC;
	border-radius: 4px;
	text-align: center;
	display: none;
	padding: 50px;
  
  }

  #cerrar_paneles {
	background-color: #343638;
	color: #adbac2;
	border: 1px solid;
	border-color: #CCC;
	border-radius: 4px;
	width: 130px;
	cursor: pointer;

  }